%% -*- erlang -*-
%% Config file for nmea_2000 application
{deps, [{can, ".*", {git, "https://github.com/tonyrog/can.git"}},
        {canopen, ".*", {git, "https://github.com/tonyrog/canopen.git"}},
	{lager, ".*", {git, "https://github.com/Feuerlabs/lager.git"}}
       ]}.
{erl_opts, [debug_info, fail_on_warning]}.
