%% -*- erlang -*-
%% Config file for nmea_2000 application
{deps, [{uart, ".*", {git, "https://github.com/HocYachts/uart.git"}},
        {can, ".*", {git, "https://github.com/HocYachts/can.git"}},
        {canopen, ".*", {git, "https://github.com/HocYachts/canopen.git"}},
	{lager, ".*", {git, "https://github.com/HocYachts/lager.git"}},
	{elarm, ".*", {git, "https://github.com/HocYachts/elarm.git"}}
       ]}.
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
